.design-system-header h1 {
    font-size: var(--24px);
    color: hsl(var(--light-blue));
    font-family: var(--ff-sans-serif-condensed);
    font-weight: 100;
}

section {
    margin-bottom: 48px;
}

section h3 {
    color: hsl(var(--light-blue));
    margin-bottom: var(--gap, 8px)
}





/* ########################## */
/* COLORS ################### */
/* ########################## */

#colors {
    font-weight: 100;
}

.color-card {
    width: 100%;
}

.color-card .color-swatch {
    font-size: var(--24px);
    padding: 3rem 1rem 1rem;
    border: 1px solid hsl(var(--white));
    margin-bottom: 1em;
}

.color-card span {
    color: hsl(var(--light-blue));
    margin-right: 1.5em;
}


/* ########################## */
/* TYPOGRAPHY ############### */
/* ########################## */
#typography .flex {
    gap: 24px;
}

#typography .heading {
    line-height: 1;
}





/* ########################## */
/* INTERACTIONS ############# */
/* ########################## */

#interactions .flex-options {
    justify-content: center;
}

/* NAVIGATION */
.nav-wrapper nav {
    --gap: 9rem;
    justify-content: center;
}

.nav-item {
    padding-block: 1rem;
    text-decoration: none;
    color: inherit;
    font-size: var(--16px);
    text-transform: uppercase;
    font-family: var(--ff-sans-serif-condensed);
    letter-spacing: var(--ls-md);
}

.nav-item:first-child {
    border-bottom: 2px solid hsl(var(--white));
}

.nav-item:nth-of-type(2) {
    border-bottom: 2px solid hsl(var(--white) / 0.5);
}

.nav-item span {
    font-weight: 700;
    margin-right: 0.8em;
}

.nav-item:hover {
    border-bottom: 2px solid hsl(var(--white) / 0.5);
}

.nav-item:active {
    border-bottom: 2px solid hsl(var(--white));
}

/* LARGE BUTTON */
.large-button {
    position: relative;
    z-index: 1;
    display: grid;
    place-items: center;
    background-color: white;
    padding: 0 2em;
    border-radius: 50%;
    aspect-ratio: 1;
    text-decoration: none;
    margin: 1.5em;
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--white) / 0.1);
    border-radius: 50%;
    opacity: 0;
    transition: 
        opacity 1000ms linear, 
        transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}


/* TAB */
.tabs-wrapper nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

/* SLIDER 1 */

.slider-1-wrapper nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.dot {
    width: 15px;
    height: 15px;
    background-color:hsl(var(--white) / 0.2);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color:hsl(var(--white));
}

.dot.hover {
    background-color:hsl(var(--white) / 0.5);
}

/* SLIDER 1 */
.slider-2-wrapper nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border: 1px solid hsl(var(--white) / 0.2);
    font-family: var(--ff-serif);
    font-size: var(--32px);
    text-decoration: none;
    color: hsl(var(--white));
    border-radius: 50%;
}

.number-slider.hover {
    border-color: hsl(var(--white));
}

.number-slider.active {
    border-color: hsl(var(--white));
    background-color: hsl(var(--white));
    color: hsl(var(--dark-blue));
}