.design-system-header h1 {
    font-size: var(--24px);
    color: hsl(var(--light-blue));
    font-family: var(--ff-sans-serif-condensed);
    font-weight: 100;
}

section {
    margin-bottom: 48px;
}

section h3 {
    color: hsl(var(--light-blue));
    margin-bottom: var(--gap, 8px)
}





/* ########################## */
/* COLORS ################### */
/* ########################## */

#colors {
    font-weight: 100;
}

.color-card {
    width: 100%;
}

.color-card .color-swatch {
    font-size: var(--24px);
    padding: 3rem 1rem 1rem;
    border: 1px solid hsl(var(--white));
    margin-bottom: 1em;
}

.color-card span {
    color: hsl(var(--light-blue));
    margin-right: 1.5em;
}


/* ########################## */
/* TYPOGRAPHY ############### */
/* ########################## */
#typography .flex {
    gap: 24px;
}

#typography .heading {
    line-height: 1;
}