/* ######################### */
/* CUSTOM PROPERTIES ####### */
/* ######################### */
:root {
    /* colors */
    --dark-blue: 230 35% 7%;
    --light-blue: 231 77% 90%;
    --white: 0 0% 100%;
    --blur: 0 0% 100%;

    /* font-sizes */
    --14px: 0.875rem;
    --16px: 1rem;
    --18px: 1.125rem;
    --20px: 1.25rem;
    --24px: 1.5rem;
    --28px: 1.75rem;
    --32px: 2rem;
    --56px: 3.5rem;
    --80px: 5rem;
    --100px: 6.25rem;
    --150px: 9.375rem;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-serif-condensed: "Barlow Condensed", sans-serif;
    --ff-sans-serif-normal: "Barlow", sans-serif;

    /* letter-spacing */
    --ls-lg: 0.3rem; 
    --ls-md: 0.17rem;
    --ls-sm: 0.15rem;

    /* spacing */
    --flow-space: 3rem;
}

/* ######################### */
/* RESET ################### */
/* ######################### */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-sans-serif-normal);
    font-size: var(--18px);
    color: hsl(var(--white)); 
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    min-height: 100vh;
    /* border: 1px solid purple; */
    background-color: hsl(var(--dark-blue));
    display: grid;
    grid-template-rows: min-content 1fr;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input, 
button, 
textarea, 
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
}

h1,
h2,
h3 {
    font-weight: 400;
}

a {
    display: block;
    font: inherit;
    color: currentColor;
}

p a {
    display: inline;
}

:focus {
    outline: 2px solid hsl(var(--white) / 0.5);
    outline-offset: 3px;
}


/* ######################### */
/* Utility Classes ######### */
/* ######################### */

.container {
    padding: 0px 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(1000rem / 16);
}

.grid-container {
    display: grid;
    text-align: center;
    place-items: center;
    padding-inline: 24px;
    /* border: 2px solid red; */
}

.grid-container p {
    max-width: 45ch;
}

.destination-page-section.grid-container picture {
    align-self: center;
}

.crew-page-section.grid-container {
    grid-template-areas: 
        'title'
        'image'
        'dots'
        'content'
    ;
}

.crew-page-section.grid-container .numbered-title {
    grid-area: title;
}

.crew-page-section.grid-container picture {
    grid-area: image;
}

.crew-page-section.grid-container .dot-indicators {
    grid-area: dots;
}

.crew-page-section.grid-container .content {
    grid-area: content;
}

.technology-page-section.grid-container {
    grid-template-areas:
        'title'
        'image'
        'buttons'
        'content'
    ;
    padding-inline: 0px;
}


.technology-page-section .page-title {
    grid-area: title;
}

.technology-page-section picture {
    grid-area: image;
}

.technology-page-section .numbered-indicators {
    grid-area: buttons;
}

.technology-page-section .content {
    grid-area: content;
}

@media (min-width: 35em) {
    .crew-page-section.grid-container {
        grid-template-areas: 
            'title'
            'content'
            'dots'
            'image'
        ;
    }

    .crew-page-section .page-title {
        justify-self: start;
    }
    
}

@media (min-width: 45em) {
    .grid-container {
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(2em, 1fr) repeat(2, minmax(0px, 30rem)) minmax(2em, 1fr);
        text-align: left;
        padding-inline: 0;
    }
    
    .homepage-section.grid-container > *:first-child,
    .destination-page-section.grid-container > *:first-child {
        grid-column: 2;
        /* border: solid red; */
    }
    
    .homepage-section.grid-container > *:last-child,
    .destination-page-section.grid-container > *:last-child {
        grid-column: 3;
        /* border: solid red; */
    }
    
    .homepage-section.grid-container {
        padding-bottom: max(6rem, 20vh);
        align-items: end;
    }

    .homepage-section.grid-container > *:last-child {
        place-self: end end;
    }

    .destination-page-section.grid-container {
        grid-template-areas: 
            '. title title .'
            '. image content .'
        ;
    }
    .destination-page-section.grid-container .numbered-title {
        grid-area: title;
    }

    .destination-page-section.grid-container .destination-image {
        grid-area: image;
    }

    .destination-page-section.grid-container .content {
        grid-area: content;
    }

    .crew-page-section.grid-container {
        grid-template-columns: minmax(2em, 5rem) repeat(2, minmax(0px, 1fr)) minmax(2em, 5rem);
        
        grid-template-areas: 
            '. title title .'
            '. content image .'
            '. dots image .'
        ;
    }

    .crew-page-section.grid-container .page-title {
        align-self: start;
    }

    .crew-page-section.grid-container .content {
        justify-self: start;
    }

    .crew-page-section.grid-container .dot-indicators {
        align-self: start;
        padding-block: 0px;
        justify-self: start;
    }

    .crew-page-section.grid-container picture {
        align-self: end;
    }

    .technology-page-section.grid-container .page-title,
    .technology-page-section.grid-container .numbered-indicators {
        padding-left: 32px;
    }

    .technology-page-section.grid-container {
        grid-template-columns: minmax(0rem, 1fr) minmax(2em, min-content) repeat(2, minmax(0px, 43rem));
        grid-template-areas:
            '. title title title'
            '. buttons content image'
        ;
    }

    .technology-page-section.grid-container picture {
        justify-self: end;
    }
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.justify-space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.display-block {
    display: block;
}

.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}

.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.bd {
    border: solid red;
}




/* ######################### */
/* COLORS ################## */
/* ######################### */

.bg-dark-blue { background-color: hsl(var(--dark-blue)); }
.bg-light-blue { background-color: hsl(var(--light-blue)); }
.bg-white { background-color: hsl(var(--white)); }
.bg-faded { background-color: hsl(var(--white) / 0.04); }
.bg-transparent { background-color: hsl(var(--dark-blue) / 0); }


.text-dark-blue { color: hsl(var(--dark-blue)); }
.text-light-blue { color: hsl(var(--light-blue)); }
.text-faded { color: hsl(var(--light-blue) / 0.5)}
.text-white { color: hsl(var(--white)); }






/* ######################### */
/* TYPE #################### */
/* ######################### */

.serif { font-family: var(--ff-serif); }
.sans-normal { font-family: var(--ff-sans-serif-normal); }
.sans-condensed { font-family: var(--ff-sans-serif-condensed); }

/* 4.8px */
.ls-lg { letter-spacing: 0.3rem; }
/* 2.7px */
.ls-md { letter-spacing: 0.17rem; }
/* 2.4px */
.ls-sm { letter-spacing: 0.15rem; }

.uppercase { text-transform: uppercase; }

.fs-900 { 
    font-size: clamp(var(--80px), 10vw + 1rem, var(--150px)); 
}
.fs-800 { font-size: var(--100px); }
.fs-700 { font-size: var(--56px); }
.fs-600 { 
    font-size: clamp(var(--20px), 1vw + 1rem, var(--32px)); 
}
.fs-500 { font-size: var(--28px); }
.fs-400 { font-size: var(--18px); }
.fs-300 { font-size: var(--16px); }
.fs-200 { font-size: var(--14px); }

.center { text-align: center; }






/* ######################### */
/* COMPONENTS ############## */
/* ######################### */

.skip-link {
    position: absolute;
    z-index: 1005;
    background-color: hsl(var(--light-blue));
    color: hsl(var(--dark-blue));
    padding: 16px 48px;
    font-size: var(--16px);
    font-weight: 700;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

.skip-link:hover {
    background-color: hsl(var(--white));
}

.skip-link:not(:focus) {
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    margin: 0;
    padding: 0;
    height: auto;
    width: 1px;
    opacity: 0;
}

.numbered-title {
    font-size: var(--28px);
    font-weight: 100;
    font-family: var(--ff-sans-serif-condensed);
    letter-spacing: var(--ls-lg);
    margin-bottom: 1em;
    text-transform: uppercase;
}

.numbered-title span {
    margin-right: 0.8em;
    color: hsl(var(--light-blue) / 0.35);
    font-weight: 700;
}

/* LARGE BUTTON */

.large-button {
    position: relative;
    display: inline-grid;
    place-items: center;
    color:hsl(var(--dark-blue));
    background-color: white;
    padding: 0 2em;
    border: none;
    border-radius: 50%;
    aspect-ratio: 1;
    text-decoration: none;
    margin: 2em;
    cursor: pointer;
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--white) / 0.1);
    border-radius: 50%;
    opacity: 0;
    transition: 
        opacity 1000ms linear, 
        transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}

.large-button:focus {
    outline: none;      
}

/* UNDERLINE INDICATORS */

.underline-indicators > * > a,
.underline-indicators > button {
    padding-block: var(--underline-gap, 1rem);
    border: 0;
    border-bottom: 0.2rem solid hsl(var(--white) / 0);
}

.underline-indicators > button {
    cursor: pointer;
}

.underline-indicators > * > a:hover,
.underline-indicators > * > a:focus,
.underline-indicators > button:hover {    
    outline: none;
    border-color: hsl(var(--white) / 0.5);
}

.underline-indicators > button:focus {
    outline: none;
    outline-offset: 0px;
}

.underline-indicators > button:focus-visible {
    border-color: hsl(var(--white) / 0.5);
}

.underline-indicators .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl(var(--white));
    border-color: hsl(var(--white));
}

a.active-page {
    border-bottom: 0.2rem solid hsl(var(--white));
}

/* TAB AND DOT LISTS */
.tab-list {
    --gap: 1.75rem;
    padding-bottom: 24px;
}

.dot-indicators {
    --gap: 2rem;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: 0.3125rem;
    background-color: hsl(var(--white) / 0.2);
}

.dot-indicators > *:focus {
    outline: none;
}

.dot-indicators > *:hover,
.dot-indicators > *:focus-visible {
    background-color: hsl(var(--white) / 0.5);
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl(var(--white));
}

.dot-indicators > [aria-selected="true"]:focus-visible {
    outline: 2px solid hsl(var(--white) / 0.5);
    outline-offset: 3px;
}

/* NUMBERED INDICATORS */

.numbered-indicators > * {
    cursor: pointer;
    display: grid;
    place-items: center;
    padding-top: 3px;
    width: 40px;
    height: 40px;
    border: 1px solid hsl(var(--white) / 0.2);
    border-radius: 50%;
    font-size: var(--16px);
    color: hsl(var(--white));
}

.numbered-indicators > *:focus {
    outline: none;
    outline-offset: 3px;
}

.numbered-indicators > *[aria-selected="true"]:focus-visible {
    outline: 2px solid hsl(var(--white) / 0.5);
    outline-offset: 3px;
}

.numbered-indicators > *:hover,
.numbered-indicators > *:focus-visible {
    border-color: hsl(var(--white));
}

.numbered-indicators > [aria-selected="true"] {
    background-color: hsl(var(--white));
    color: hsl(var(--dark-blue));
}

.page-title {
    padding-top: 2rem;
    position: relative;
    z-index: 1;
}

@media (min-width: 45rem) {
    .page-title {
        padding-top: 0;
    }
}



/* ######################### */
/* HEADER ################## */
/* ######################### */
.site-head {
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
}

.site-head__brand {
    margin: clamp(24px, 5vw, 64px) clamp(24px, 4.5vw, 55px);
    width: 48px;
    position: relative;
}

.spacer {
    display: none;
}


/* NAVIGATION */

.mobile-nav-toggle {
    display: none;
}

.primary-nav {
    --gap: clamp(1.3rem, 3.5vw, 4rem);
    --underline-gap: 2rem;
    list-style: none;
    font-family: var(--ff-sans-serif-condensed), serif;
    font-size: var(--16px);
    color: hsl(var(--white));
    padding: 0;
    margin: 0;
    background-color: hsl(var(--dark-blue) / 0.9);
}

@supports(backdrop-filter: blur(50px)) {
    .primary-nav {
        background-color: hsl(var(--white) / 0.05);
        backdrop-filter: blur(50px);
    }
}

.primary-nav a {
    text-decoration: none;
    display: block;
    letter-spacing: var(--ls-md);
    text-transform: uppercase;
}

.primary-nav a > span {
    font-weight: 700;
    margin-right: 0.3em;
}

@media (max-width: 35em) {
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        top: 36px;
        right: 24px;
        z-index: 1001;
        background: transparent;
        border: none;
        width: 24px;
        height: 24px;
        background-image: url(../images/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
    }

    .mobile-nav-toggle:focus {
        outline: none;
    }

    .mobile-nav-toggle:focus-visible {
        outline: 2px solid hsl(var(--white) / 0.5);
        outline-offset: 3px;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(../images/shared/icon-close.svg);
        transition: background 250ms linear;
    }
    
    .primary-nav {
        --underline-gap: 1rem;
        padding: min(20rem, 15vh) 2rem;
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 30%;
        transform: translateX(100%);
    }

    .primary-nav[data-visible='true'] {
        transform: translateX(0);
        transition: transform 350ms linear;
    }

    .primary-nav ul {
        flex-direction: column;
    }

    .underline-indicators .active {
        border: 0;
    }

}

@media (min-width: 35rem) {
    .primary-nav {
        padding-inline: clamp(36px, 6vw, 132px) clamp(48px, 12vw, 165px);
    }
}

@media (min-width: 35em) and (max-width: 45em) {
    .primary-nav a > span {
        display: none;
    }
}

@media (min-width: 45em) {
    
    /* Horizontal Header Line */
    .spacer {
        position: relative;
        z-index: 1003;
        display: block;
        flex-grow: 1;
        height: 2px;
        background-color: hsl(var(--white) / 0.3);
        margin-left: -25px;
        margin-right: -40px;
    }

}





/* ######################### */
/* HOMEPAGE ################ */
/* ######################### */

.homepage-section {
    height: 100%;
}

.homepage-section h1 {
    font-weight: 400;
}

.homepage-section h1 > span {
    font-size: clamp(1rem, 1.71vw + 0.46rem, 1.75rem);
}

@media (min-width: 1200px) {
    .homepage-section p {
        font-size: var(--18px);
    }
}




/* ######################### */
/* DESTINATIONS ############ */
/* ######################### */

.numbered-title {
    font-size: var(--16px);
    text-align: center;
}

.destination-page-section {
    text-align: center;
}

.destination-page-section .page-title {
    justify-self: start;
}

.destination-image img {
    width: 250px;
    padding-block: 24px;
}

.destination-page-section .tab-list {
    justify-content: center;
    font-size: var(--14px);
}

.destination-page-section h2,
.destination-page-section h3 {
    font-weight: 400;
}

.destination-page-section h2 + p {
    padding-bottom: 36px;
}

.destination-stats {
    --gap: 1.5rem;
    flex-direction: column;
    padding-block: 36px;
    border-top: 1px solid hsl(var(--white) / 0.2);
}

@media (min-width: 35rem) {
    .numbered-title {
        text-align: left;
        font-size: var(--20px);
    }

    .destination-image img {
        width: 300px;
    }

    .destinations-body .tab-list {
        font-size: var(--16px);
    }

    .destination-page-section h2 {
        font-size: var(--80px);
    }

    .destination-stats {
        --gap: 6rem;
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 45rem) {
    .numbered-title {
        font-size: var(--28px);
    }

    .destination-page-section {
        text-align: left;
    }

    .destination-page-section .tab-list {
        --gap: clamp(1.250rem, 5.161vw + -1.073rem, 1.750rem);
        justify-content: flex-start;
    }

    .destination-image img {
        width: 445px;
    }

    .destination-page-section h2 {
        font-size: clamp(4.000rem, 23.226vw + -6.452rem, 6.250rem);
    }

    .destination-page-section h2 + p {
        font-size: clamp(1rem, 0.5vw + 0.775rem, 1.125rem);
    }

    .destination-stats {
        --gap: 2rem;
        flex-direction: column;
    }
}





/* ######################### */
/* CREW #################### */
/* ######################### */

.crew-page-section {
    height: 100%;
    overflow-x: hidden;
}

.crew-page-section picture {
    border-bottom: 1px solid hsl(var(--white) / 0.1);
    width: 100%;
}

.crew-page-section picture img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.crew-page-section .dot-indicators {
    padding-block: 36px;
}

.crew-page-section h2 span,
.technology-page-section h2 span {
    display: block;
}

[data-element='position'] {
    font-size: var(--16px);
}

[data-element='name'] {
    font-size: var(--24px);
}

.crew-page-section p {
    font-size: calc(15rem / 16);
    padding-bottom: 3em;
}

@media (min-width: 35em) {
    .crew-page-section picture {
        border-bottom: 0px solid hsl(var(--white) / 0.1);
    }
    
    [data-element='position'] {
        font-size: var(--24px);
    }
    
    [data-element='name'] {
        font-size: var(--40px);
    }

    .crew-page-section p {
        font-size: var(--16px);
        padding-bottom: 0em;
    }

}

@media (min-width: 45em) {
    .crew-page-section .numbered-title {
        font-size: clamp(1.250rem, 2.462vw + 0.135rem, 1.750rem);
        font-size: var(--28px);
    }
    
    .crew-page-section picture {
        min-width: 500px;
        /* border: solid limegreen; */
    }

    .crew-page-section picture img {
        width: 85%;
    }
    
    .crew-page-section .dot-indicators > * {
        padding: 0.46875rem;
    }

    /* .crew-page-section .content {
        padding-left: 2rem;
    } */

    [data-element='position'] {
        font-size: var(--40px);
    }
    
    [data-element='name'] {
        font-size: clamp(1.688rem, 8.923vw + -2.356rem, 3.500rem);
        /* font-size: var(--40px); */
        white-space: nowrap;

    }

    .crew-page-section p {
        font-size: var(--18px);
    }
}

/* ######################### */
/* TECHNOLOGY ############## */
/* ######################### */
.technology-page-section {
    --flow-space: 2rem;
}

.technology-page-section [data-element='tech'] {
    font-size: var(--24px);
}

.technology-page-section p {
    margin-top: 16px;
    padding-bottom: 36px;
    font-size: calc(15rem / 16);
}

@media (min-width: 35em) {
    .technology-page-section .page-title {
        font-size: var(--20px);
        justify-self: start;
    }

    .technology-page-section h2 > span:first-child {
        font-size: var(--16px);
    }

    .technology-page-section [data-element='tech'] {
        font-size: calc(40rem / 16);
    }

    .numbered-indicators > * {
        padding-top: 1px;
        width: 60px;
        height: 60px;
        font-size: var(--24px);
    }

    .technology-page-section p {
        font-size: 1rem;
    }
}

@media (min-width: 45em) {
    .technology-page-section .page-title {
        font-size: var(--28px);
        justify-self: start;
    }

    .numbered-indicators {
        flex-direction: column;
    }

    .numbered-indicators > * {
        padding-top: 1px;
        width: 80px;
        height: 80px;
        font-size: var(--32px);
    }

    .technology-page-section [data-element='tech'] {
        /* font-size: var(--56px); */
        font-size: clamp(1.750rem, 6.527vw - 1.191rem, 3.500rem)
    }

    .technology-page-section p {
        /* font-size: var(--18px); */
        font-size: clamp(1.000rem, 1.117vw + 0.496rem, 1.125rem);
    }
}


/* ######################### */
/* BACKGROUND IMAGE ######## */
/* ######################### */

.home-body {
    background-image: url(../images/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.destinations-body {
    background-image: url(../images/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.crew-body {
    background-image: url(../images/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.tech-body {
    background-image: url(../images/technology/background-technology-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 35em) {
    .home-body {
        background-image: url(../images/home/background-home-tablet.jpg);
        background-position: center center;  
    }

    .destinations-body {
        background-image: url(../images/destination/background-destination-tablet.jpg);
    }

    .crew-body {
        background-image: url(../images/crew/background-crew-tablet.jpg);
    }

    .tech-body {
        background-image: url(../images/technology/background-technology-tablet.jpg);
    }
}

@media (min-width: 45em) {
    .home-body {
        background-image: url(../images/home/background-home-desktop.jpg);
    }

    .destinations-body {
        background-image: url(../images/destination/background-destination-desktop.jpg);
    }

    .crew-body {
        background-image: url(../images/crew/background-crew-desktop.jpg);
    }

    .tech-body {
        background-image: url(../images/technology/background-technology-desktop.jpg);
        background-position:0ch;
    }
}




