/* ######################### */
/* CUSTOM PROPERTIES ####### */
/* ######################### */

:root {
    /* colors */
    --dark-blue: 230 35% 7%;
    --light-blue: 231 77% 90%;
    --white: 0 0% 100%;
    --blur: 0 0% 100%;

    /* font-sizes */
    --14px: 0.875rem;
    --16px: 1rem;
    --18px: 1.125rem;
    --24px: 1.5rem;
    --28px: 1.75rem;
    --32px: 2rem;
    --56px: 3.5rem;
    --80px: 5rem;
    --100px: 6.25rem;
    --150px: 9.375rem;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-serif-condensed: "Barlow Condensed", sans-serif;
    --ff-sans-serif-normal: "Barlow", sans-serif;

    /* letter-spacing */
    --ls-lg: 0.3rem; 
    --ls-md: 0.17rem;
    --ls-sm: 0.15rem;

    /* spacing */
    --flow-space: 3rem;
}


:focus {
    outline: 2px solid hsl(var(--white) / 0.5);
    outline-offset: 3px;
}




/* ######################### */
/* RESET ################### */
/* ######################### */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    min-height: 100vh;
    background-color: hsl(var(--dark-blue));
    font-family: var(--ff-sans-serif-normal);
    font-size: var(--18px);
    color: hsl(var(--white)); 
}

img,
picture {
    max-width: 100%;
    display: block;
}

input, 
button, 
textarea, 
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
}

a {
    display: block;
    font: inherit;
    color: currentColor;
}






/* ######################### */
/* Utility Classes ######### */
/* ######################### */

.container {
    padding: 0px 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(1000rem / 16);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.justify-space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}


.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.bd {
    border: solid red;
}




/* ######################### */
/* COLORS ################## */
/* ######################### */

.bg-dark-blue { background-color: hsl(var(--dark-blue)); }
.bg-light-blue { background-color: hsl(var(--light-blue)); }
.bg-white { background-color: hsl(var(--white)); }
.bg-faded { background-color: hsl(var(--white) / 0.04); }


.text-dark-blue { color: hsl(var(--dark-blue)); }
.text-light-blue { color: hsl(var(--light-blue)); }
.text-faded { color: hsl(var(--light-blue) / 0.5)}
.text-white { color: hsl(var(--white)); }






/* ######################### */
/* TYPE #################### */
/* ######################### */

.serif { font-family: var(--ff-serif); }
.sans-normal { font-family: var(--ff-sans-serif-normal); }
.sans-condensed { font-family: var(--ff-sans-serif-condensed); }

/* 4.8px */
.ls-lg { letter-spacing: 0.3rem; }
/* 2.7px */
.ls-md { letter-spacing: 0.17rem; }
/* 2.4px */
.ls-sm { letter-spacing: 0.15rem; }

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--150px); }
.fs-800 { font-size: var(--100px); }
.fs-700 { font-size: var(--56px); }
.fs-600 { font-size: var(--32px); }
.fs-500 { font-size: var(--28px); }
.fs-400 { font-size: var(--18px); }
.fs-300 { font-size: var(--16px); }
.fs-200 { font-size: var(--14px); }

.center { text-align: center; }

.numbered-title {
    font-size: var(--28px);
    font-weight: 100;
    font-family: var(--ff-sans-serif-condensed);
    letter-spacing: var(--ls-lg);
    margin-bottom: 1em;
    text-transform: uppercase;
}

.numbered-title span {
    margin-right: 0.8em;
    color: hsl(var(--light-blue) / 0.25);
    font-weight: 700;
}

.home-body {
    position: relative;
    isolation: isolate;
    z-index: 1;
}



/* ######################### */
/* COMPONENTS ############## */
/* ######################### */

/* LARGE BUTTON */

.large-button {
    position: relative;
    display: grid;
    place-items: center;
    background-color: white;
    padding: 0 2em;
    border-radius: 50%;
    aspect-ratio: 1;
    text-decoration: none;
    margin: 1.5em;
    cursor: pointer;
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--white) / 0.1);
    border-radius: 50%;
    opacity: 0;
    transition: 
        opacity 1000ms linear, 
        transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}

.large-button:focus {
    outline: none;      
}

.underline-indicators > * > a {
    padding-block: var(--underline-gap, 1rem);
    border: 0;
    border-bottom: 0.2rem solid hsl(var(--white) / 0);
}

.underline-indicators > * > *:hover,
.underline-indicators > * > *:focus {
    outline: none;
    border-color: hsl(var(--white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl(var(--white));
    border-color: hsl(var(--white));
}

/* TAB LISTS */
.tab-list {
    --gap: 2.5rem;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: 0.5rem;
    aspect-ratio: 1;
    background-color: hsl(var(--white) / 0.2);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
    background-color: hsl(var(--white) / 0.5);
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl(var(--white));
}

.numbered-indicators > * {
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid hsl(var(--white) / 0.2);
    border-radius: 50%;
    font-size: var(--32px);
    color: hsl(var(--white));
}

.numbered-indicators > *:hover,
.numbered-indicators > *:focus {
    border-color: hsl(var(--white));
}

.numbered-indicators > [aria-selected="true"] {
    background-color: hsl(var(--white));
    color: hsl(var(--dark-blue));
}


/* ######################### */
/* HEADER ################## */
/* ######################### */
.site-head__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}

/* BURGER MENU */


.burger-menu__trigger {
    display: none;
}

.burger-root[enabled='true'] .burger-menu__bars,
.burger-root[enabled='true'] .burger-menu__bars::before,
.burger-root[enabled='true'] .burger-menu__bars::after {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 5px;
    background-color:hsl(var(--white));
    transition: transform 350ms ease-in-out;
}

.burger-root[enabled='true'] .burger-menu__bars {
    top: 50%;
    transform: translateY(-50%);
}

.burger-root[enabled='true'] .burger-menu__bars::before {
    content: '';
    top: -10px;
}

.burger-root[enabled='true'] .burger-menu__bars::after {
    content: '';
    bottom: -10px;
}

.burger-root[enabled='true'] .burger-menu__trigger {
    position: relative;
    z-index: 2;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.burger-root[enabled='true'] .burger-menu__panel {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: hsl(var(--dark-blue) / 0.5);
    backdrop-filter: blur(50px);
    padding: 72px 32px 0px;
}

.burger-root[enabled='true'] .burger-menu__panel ul {
    display: block;
}

.burger-root[enabled='true'] .burger-menu__panel ul > * + * {
    margin-top: 0.5rem;
}

.burger-root[enabled='true'] .burger-menu__panel li {
    font-size: var(--18px);
}

.burger-root[enabled='true'][status='open'] .burger-menu__panel {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease;
}

.burger-root[enabled='true'][status='closed'] .burger-menu__panel ul {
    transform: translateY(5rem);
    opacity: 0;
}

.burger-root[enabled='true'][status='open'] .burger-menu__panel ul {
    transform: translateY(0);
    opacity: 1;
    transition:
        transform 500ms cubic-bezier(0.17, 0.67, 0, 0.87) 350ms,
        opacity 500ms ease 450ms;
}

.burger-root[enabled='true'][status='open'] .burger-menu__bars {
    background-color: transparent;
    transform: rotate(180deg);
}

.burger-root[enabled='true'][status='open'] .burger-menu__bars::before {
    top: 2px;
    transform: rotate(45deg);
}

.burger-root[enabled='true'][status='open'] .burger-menu__bars::after {
    top: 2px;
    transform: rotate(-45deg);
}

/* NAVIGATION */

.primary-nav {
    --underline-gap: 1.5rem;
    list-style: none;
    font-family: var(--ff-sans-serif-condensed), serif;
    font-size: var(--16px);
    color: hsl(var(--white));
    padding: 0;
    margin: 0;
}

.primary-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 3rem;
}

.primary-nav a {
    text-decoration: none;
    display: block;
    letter-spacing: var(--ls-md);
    text-transform: uppercase;
}

.primary-nav a > span {
    font-weight: 700;
    margin-right: 0.3em;
}


/* ######################### */
/* HOMEPAGE ################ */
/* ######################### */
.home-body {
    background-color: hsl(var(--dark-blue));
    background: url(../images/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.homepage-section {
    margin-top: 48px;
}

.homepage-section h1 {
    font-size: var(--80px);
    font-family: var(--ff-serif);
    font-weight: 400;
}

.homepage-section h1 span {
    display: block;
}

.homepage-section .large-button {
    font-size: 1.25rem;
    border: none;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}









