@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
    /* colors */
    --dark-blue: hsl(230, 35%, 7%);
    --light-blue: hsl(231, 77%, 90%);
    --white: hsl(0, 0%, 100%);

    /* font-sizes */
    --14px: 0.875rem;
    --16px: 1rem;
    --18px: 1.125rem;
    --28px: 1.75rem;
    --32px: 2rem;
    --56px: 3.5rem;
    --100px: 6.25rem;
    --150px: 9.375rem;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    background-color: var(--dark-blue);
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, 
button, 
textarea, 
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

ol, ul {
    list-style: none;
    padding: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    max-width: 65ch;
}

a {
    display: block;
    text-decoration: none;
}

p a {
    display: inline;
    text-decoration: underline;
}





/* STYLE SETUP ############# */

h1,
h2,
h3,
h4,
.sub-heading-1 {
    font-family: 'Bellefair', serif; 
    color: var(--white);
}

.sub-heading-2,
.nav-text,
p,
a {
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--white);
}

h1 {
    font-size: var(--150px);

}

h2 {
    font-size: var(--100px);
}

h3 {
    font-size: var(--56px);
}

h4 {
    font-size: var(--32px);
}

h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: var(--28px);
    letter-spacing: 0.29rem;
    color: var(--light-blue)
}

.sub-heading-1 {
    font-size: var(--28px);
}

.sub-heading-2 {
    font-size: var(--14px);
    letter-spacing: 0.15rem;
}

.nav-text {
    font-size: var(--16px);
    letter-spacing: 0.17rem;
}

p {
    font-size: var(--18px);
}


